<%# this is the nav bar  %>
<div class="nav d-flex profile justify-content-between align-items-center">
    <button class="button-85"><%= link_to "+Note", new_note_path%></button>

  <div class="avatar border-radius">
      <div class="grad border-radius spin"></div>
      <button type="button" data-toggle="modal" data-target="#exampleModalCenter">
        <img src="https://lh3.googleusercontent.com/a/AGNmyxYdZLRF4ONYN4IMCGDLA5-rxxvVnuPRAPAYI3op9Q=s192-c-rg-br100" class="avatar-img border-radius" />
      </button>
      </a>
    </div>
</div>

<body class="container inbox-page-1">
  <div>
    <h1 class="container mt-2 p-3"> <strong>My Notes</strong></h1>
    <div class="card-notes">
      <% @notes.each do |note|%>
        <%= link_to note_path(note) do %>
        <div class="card-note">
          <img src=<%= (note.sentences[0]) && (note.sentences[0].ai_image.url) ? note.sentences[0].ai_image.url : @loading_pic %>  width="256" height="256">
          <div class="text">
            <%#= link_to note.text.truncate_words(10), note_path(note) %>
            <%= note.text.truncate_words(10) %>
          </div>
        </div>
        <% if note.user == current_user %>
        <%= link_to "Delete",
        note_path(note),
        data: {turbo_method: :delete},
        class: 'button-85 '
        %>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
