<%# this is the nav bar  %>


<body class="container inbox-page-1">
  <div>
    <h1 class="container mt-2 p-3"> <strong>My Notes</strong></h1>
    <div class="card-notes">
      <% @notes.each do |note|%>
        <%= link_to note_path(note) do %>
          <div class="card-note">
            <% if note.user == current_user %>
              <%= link_to image_tag("delete-icon.jpg", style: 'height:30px;width:auto;'),
              note_path(note),
              data: {turbo_method: :delete},
              class: 'delete-button'
              %>
            <% end %>
            <img src=<%= (note.sentences[0]) && (note.sentences[0].ai_image.url) ? note.sentences[0].ai_image.url : @loading_pic %>  width="256" height="256">
            <div class="text">
              <%#= link_to note.text.truncate_words(10), note_path(note) %>
              <%= note.text.truncate_words(10) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="new-note-btn"><%= link_to "+Note", new_note_path%></button>
  </div>
</body>
